.body-content {
    background-color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.color-title {
    background-color: black;
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    /* color: transparent; */
}

.color-name {
    color: white;
    font-weight: bold;
}

.switch-button {
    border: 1px solid black;
    background-color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: padding 0.5s;
}

.switch-button:hover {
    box-shadow: 0px 0px 20px black;
}

.switch-button:active {
    box-shadow: 0px 0px 0px 
}